* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.todo-input {
    display: flex;
    margin-bottom: 20px;
}

#todoInput {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.todo-input button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li span {
    flex-grow: 1;
    text-align: left;
}

.export-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.export-btn:hover {
    background-color: #0069d9;
}

#noTask {
    font-size: 16px;
    color: #666;
}